In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv("covid_toy.csv")

In [7]:
df.head(3) ### top data return

In [10]:
df.tail(2)

In [11]:
df.shape  ### total rows and columns

(100, 6)

In [42]:
df.columns

Index(['age', 'gender', 'fever', 'cough', 'city', 'has_covid'], dtype='object')

In [43]:
df.dtypes

age            int64
gender        object
fever        float64
cough         object
city          object
has_covid     object
dtype: object

In [44]:
df.describe() ## it will return statically view of our data .

              age       fever
count  100.000000   90.000000
mean    44.220000  100.844444
std     24.878931    2.054926
min      5.000000   98.000000
25%     20.000000   99.000000
50%     45.000000  101.000000
75%     66.500000  102.750000
max     84.000000  104.000000

In [45]:
df.head(3)

   age  gender  fever cough     city has_covid
0   60  Female  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No

In [46]:
df['gender'].value_counts()  ### value_counts() will return total frequency of each sub-category
# in a column .

Female    60
Male      40
Name: gender, dtype: int64

In [47]:
df['cough'].value_counts()

Mild      62
Strong    38
Name: cough, dtype: int64

In [48]:
df['city'].value_counts()

Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: city, dtype: int64

In [49]:
df['has_covid'].value_counts()

No     55
Yes    45
Name: has_covid, dtype: int64

In [31]:
# df.head(3)

In [25]:
### dataframe is mutable  .

In [28]:
df['gender'][0] = 'Female'

C:\Users\saurabh\AppData\Local\Temp\ipykernel_29676\2696810778.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['gender'][0] = 'Female'

In [29]:
df.head(3)

   age  gender  fever cough     city has_covid
0   60  Female  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No

In [32]:
df2 = df.copy()

In [34]:
df2['gender'] = df2['gender'].map({"Female":0 , "Male":1})

In [36]:
df2['Gender'] = df2['gender'].map({"Female":0 , "Male":1})

In [38]:
df2 = df2.drop(columns = ['Gender'])

In [41]:
df2

    age  gender  fever   cough       city has_covid
0    60       0  103.0    Mild    Kolkata        No
1    27       1  100.0    Mild      Delhi       Yes
2    42       1  101.0    Mild      Delhi        No
3    31       0   98.0    Mild    Kolkata        No
4    65       0  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12       0  104.0    Mild  Bangalore        No
96   51       0  101.0  Strong    Kolkata       Yes
97   20       0  101.0    Mild  Bangalore        No
98    5       0   98.0  Strong     Mumbai        No
99   10       0   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]